@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: poppins;
}
body{
background-image:url(/images/background.png) ;
background-size: cover;
background-position: center;
margin: 2.5rem;

}

.Profile-pic{
    width:9rem;
    height: 9rem;
    border-radius:1.5rem;

}
.user-name
{
    font-weight: bold;
    font-size: 1.375rem;
    color: #000;
    margin-bottom: 1rem;
}
.Bio{
    font-size: 1rem;
    color: #4a4a4a;
    line-height: 1.5rem;
    font-weight: normal;
    border: 0.063rem solid #ffffff;
    background-color:#ffffff;
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 0.188rem #dadada;
    width: 93%;
    height:auto;
} 
.header img{
    width:100%;
    height: 100%;
    object-fit: cover;
}


.header{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1.25rem;

}

.mastery{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom:1.875rem;

}

.left{
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius:1.5rem;
    box-shadow: 0px 0px 0.125rem #dadada;
    
}
.mastery .left{
    width: auto;
    
}

.heading-1{
    display: flex;
    gap: 1.875rem;
}

.progress-group {
    display: flex;
    align-items: center; 
    gap: 0.625rem; 
    margin-bottom: 0.5rem; 
}


.progress-group span {
    min-width: 6.25rem;
    font-weight: bold;
}


.progress-container {
    flex-grow: 1;
    height: 1.25rem;
    background: #e0e0e0;
    border-radius: 0.313rem;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    background:#4A8B70; 
    transition: width 0.5s ease-in-out;
}

.percentage1 { width: 100%; } 
.percentage2 { width: 90%; }  
.percentage3 { width: 30%; }  
.percentage4 { width: 10%; }  

.right{
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 1.25rem;
   width: auto;

}
.skill-tag{
    background-color: #E7F0EC;
    padding: 0.5rem 0.875rem;
    border-radius:1.5rem;
    display: inline-block;
    font-size: 0.875rem;
    list-style: none;
    margin: 0.313rem;
   
}
.heading-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    text-align: center;
}
.project-container{
    width: auto;
    height: auto;
    background-color: #ffffff;
    padding: 0.625rem;
    border-radius: 1.5rem;
   
}
#first-project-selector{
    background-color:#4A8B70;
     color: #fff;
     height: 29.375rem;

}
.project-tag{
    width: 15rem;
    height:auto;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 0.125rem #dadada;
    padding-left: 1.188rem;
    padding-right:1.188rem;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
    background-color: #E7F0EC;
    

}
.year{
    margin: 0px;
 }

#first-element-selector{
    background-color:#4A8B70;
     color: #fff;


}

.heart{
    position: relative;
    left:13.75rem;
    bottom: 1.25rem;
}
.flex-project{
 display: flex;
 flex-wrap: wrap;
 gap: 1.25rem;
 justify-content: space-evenly;
 padding-bottom: 1.25rem;

} 
.Edu-tool{
    display: grid;
    grid-template-columns:80% 20%;
    gap:0.625rem;
    border-radius: 1.5rem;
    margin-top: 1.875rem;
    margin-bottom:1.875rem;
 
    
}
.Edu{
   
    border-radius: 1.5rem;
    background-color: #ffffff;
    padding: 1.25rem;
    overflow: hidden;
    
}
.tool{
    width: 12.5rem;
    background-color: #ffffff;
    border-radius: 1.5rem;

}
.Edu-layout{
  display: flex;
  border-radius:1.5rem;
    background-color:#E7F0EC;
    overflow: hidden;
margin-bottom: 1.875rem;
 padding: 1.25rem;
 

}
.brief{ 
    font-weight: bold;

}
.heading3{
    display: flex;
    justify-content: center;
   
    margin-top: 2.5rem;
}
.languages{
    background-color:#E7F0EC;
    border: 0.063rem solid #E7F0EC ;
    text-align:center;
    height: 100%;
    border-radius:1.5rem;

}
#logo-selector-center{
    border:0.125rem solid black ;
    background-color: black;
     position: relative;
      color: #fff;
       border-radius: 1.5rem;
       bottom:1.875rem;
       left:2.813rem; 
     text-align: center;
    width: 50%;
    font-weight: normal;


   

}
.tool-container{
    background-color:#ffffff;
    border-radius: 1.5rem;
   
}
.icons{
    position: relative;
    bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 1.85rem;
    gap:2.5rem;
    align-items: center;
    border-radius: 1.5rem;
   
}
.tool{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.school{
    font-weight: normal;
}
.Experience{
    width: 97%;
    border-radius: 1.5rem;
    background-color: #ffffff;
    padding: 1.25rem;
}

.Exp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.5rem;
    background-color: #E7F0EC;
    overflow: hidden;
    margin-bottom: 1.25rem;
    padding: 0px 1.25rem 1.25rem 1.25rem;
}
#exp2{
    display: flex;
    justify-content: start;
    border-radius: 1.5rem;
    background-color: #E7F0EC;
    margin-bottom: 1.25rem;
    padding: 0px 1.25rem 1.25rem 1.25rem;
    overflow: hidden;
    gap:7.375rem;
}
.jobs{
    font-weight: normal;
  
}
.position{
    font-weight: 500;
}

.recent{
   
    background-color:#D76239;
    border-radius: 1.5rem;
    border: 0.063rem solid #D76239;
    height: 0.625rem;
    font-size: 0.625rem;
    padding: 0.1rem 0.5rem 0.4rem;
}
footer{
margin-top: 1.875rem;
background-color: #D76239;
color: #ffffff;
border-radius: 1.5rem;
padding: 0.625rem 1.563rem 1.563rem;
}

#footer-email{
    text-decoration: none;
    font-weight: normal;
    color: inherit;

}
.footer-border-left{
    text-decoration: none;
    font-weight: normal;
    color: inherit;
   display: inline-block;
   border-left: 0.125rem solid white;
   padding-left:0.625rem;

}

@media (max-width: 768px) {
 .Profile-pic {
                 width: 96px;
                height: 96px;
                 border-radius:1.5rem;
                }
.header img{
            width: 90%;
            height: 100%;
            object-fit: cover;
    }
.Bio {
     font-size: 11px;
     overflow: hidden;
     width: auto;
     height: 90%;
    }


.header {
         display: grid;
         grid-template-columns:1fr 1fr;
         gap: 10px; 
         margin-bottom: 250px;
        height: 200px;
        gap: 0;
    }
.mastery{
        display: grid;
        grid-template-columns: 1fr;
    }
.heading2{
        justify-content: flex-start;
        display: flex;
        font-size: 14px; 
    }
.Edu{
     width: auto;
    }
.Edu-tool{
            width: auto;
            display: grid;
            grid-template-columns:1fr;
            gap:20px;
            border-radius: 12px; 
        }
.Experience{
            padding: 10px;
            width: auto;
}
.tool{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     column-gap: 50px;
     justify-content: space-between;
    }
.icons{
        margin-left: 0px;
        display: grid;
        grid-template-columns:1fr 1fr ;
        row-gap: 10px;
        column-gap: 10px;
        padding-left: 30px;
    }
    .languages:not(:first-of-type) .icons img:nth-of-type(1),
    .languages:not(:first-of-type) .icons img:nth-of-type(2) {
        padding-top: 30px;
    }
    


.languages{
        border-radius: 12px;
    }
.languages:nth-child(1){
                         order: 3; 
                         margin-right: 20px;
    }
.languages:nth-child(2){
                        order: 1;
}
 .languages:nth-child(3){
                         order: 2;
    }
.tool{
     width: auto;
     margin:0px;
     margin-left: 40px;
     margin-bottom: 30px;
     font-weight: normal;
    }
.heading3{
        margin-top: 0px;
        font-size: 24px;
    }
#logo-selector-center{
                    width: 50%;
                    position: relative;
                    left: 40px;
                }
.recent{
  align-self: center;
  white-space: nowrap;
}
.list{
   padding-top: 10px;
}
}